manager.gr.uom.se.util.manager.DefaultDummyManager = dummyManager
manager.gr.uom.se.util.manager.DBManagerImp = dbManager
activator.gr.uom.se.util.manager.Activator1 = activator1
contextProvider.gr.uom.se.util.manager.TestContextProvider = testContextProvider
manager.gr.uom.se.util.context.DefaultContextManager = defaultContextManager